<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>To-Do: Landing</title>
</head>
<body>
<header class="main-header">
    <a class="main-header-logo" href="./tasks-dashboard.html"><img alt="IBA Tech Academy"
                                                                   src="/static/img/iba-tech-logo-white.svg"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input class="main-header-search" placeholder="Search" type="search">
            <img alt="Search Icon" src="/static/img/search-icon.svg">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>
            <img alt="User Icon" class="main-header-appUser-icon" src="/static/img/appUser-icon-with-background.svg">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link" href="./tasks-archive.html"><img
                            alt="User Icon" class="hidden-accordion-item-image" src="/static/img/archive-icon.svg">Archive</a>
                    </li>
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link"
                                                         href="./tasks-dashboard.html"><img
                            alt="Favourite Icon" class="hidden-accordion-item-image"
                            src="/static/img/favourite-icon.svg">My tasks</a></li>
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link" href="./login.html"><img
                            alt="Log Out Icon" class="hidden-accordion-item-image" src="/static/img/log-out-icon.svg">Log
                        Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="start-content">
    <div>
        <div class="start-content-row aic">
            <div class="start-content-welcome-img-b">
                <img alt="#" class="start-content-welcome-img" src="/static/img/landing-background.svg">
            </div>
            <div class="start-content-welcome-text-b text-right">
                <h1 class="welcome-title">Lorem</h1>
                <p class="welcome-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="btn btn-dark" href="./tasks-dashboard.html">Get Started</a>


            </div>
        </div>
</main>
</body>
</html>