<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>.page</title>
</head>
<body>
<div class="navbar-light">
    <div class="container">
        <a class="logo logo--dark" href="#">
            <div class="logo-img logo-img--dark">
        <span>
            <img alt="" src="/static/img/logo-dark.png">
        </span>
            </div>
            <div class="logo-text">
                <p class="logo-text-abbr">IBA</p>
                <p class="logo-text-company-name">Tech Academy</p>
            </div>
        </a>
    </div>
</div>
<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b">
                <img alt="#" class="start-content-welcome-img" src="/static/img/start-page-promo.png">
            </div>
            <div class="start-content-welcome-text-b">
                <h1 class="welcome-title">Welcome back!</h1>
                <p class="welcome-text">To keep connected with us please login with personal information by email
                    address and password</p>


                <form action="#" class="login-form" id="login-form">
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/email.png">
        </span>        
    </span>
                        <input class="form-control complete" placeholder="Email address" type="email"
                               value="Anatolii.safronov@gmail.com">

                        <div class="checkbox-container">
                            <input checked="checked" class="checkbox-input" id="remember-appUser"
                                   name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser"></label>
                        </div>


                    </div>
                    <div class="text-input-container @@complete">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/password.png">
        </span>        
    </span>
                        <input class="form-control @@complete" placeholder="Password" type="password" value="@@value">


                    </div>

                    <div class="login-options">
                        <div class="checkbox-container">
                            <input checked="" class="checkbox-input" id="remember-appUser" name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser">Remember me</label>
                        </div>

                        <a class="form-link" href="reset-password.html">Forgot password?</a>
                    </div>

                    <div class="button-container">
                        <button class="btn btn-dark">Login now</button>

                        <a class="btn btn-light" href="register.html">Create account</a>

                    </div>
                </form>


                <div class="login-social-links">
                    <div class="social-links-caption">
                        <span class="social-links-caption-text">Or you can Join with</span>
                    </div>
                    <div class="social-links-list">
                        <i class="social-link social-link-google-plus"></i><i
                            class="social-link social-link-facebook"></i><i
                            class="social-link social-link-linkedin"></i><i class="social-link social-link-twitter"></i>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
</html>