<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Sign-up page</title>
</head>
<body>
<div class="navbar-light">
    <div class="container">
        <a class="logo logo--dark" href="#">
            <div class="logo-img logo-img--dark">
        <span>
            <img alt="" src="/static/img/logo-dark.png">
        </span>
            </div>
            <div class="logo-text">
                <p class="logo-text-abbr">IBA</p>
                <p class="logo-text-company-name">Tech Academy</p>
            </div>
        </a>
    </div>
</div>
<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b">
                <img alt="#" class="start-content-welcome-img" src="/static/img/start-page-promo.png">
            </div>
            <div class="start-content-welcome-text-b">
                <h1 class="welcome-title">Create an account</h1>
                <p class="welcome-text">Create your account, it takes less than a minute. If you already have an account
                    <a class='text-link'>Login</a></p>


                <form action="#" class="sign-up-form" id="sign-up-form">
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/appUser.png">
        </span>        
    </span>
                        <input class="form-control complete" placeholder="Full name" type="text"
                               value="Anatolii Safronov">

                        <div class="checkbox-container">
                            <input checked="checked" class="checkbox-input" id="remember-appUser" name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser"></label>
                        </div>


                    </div>
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/email.png">
        </span>        
    </span>
                        <input class="form-control complete" placeholder="Email address" type="email"
                               value="Anatolii.safronov@gmail.com">

                        <div class="checkbox-container">
                            <input checked="checked" class="checkbox-input" id="remember-appUser" name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser"></label>
                        </div>


                    </div>
                    <div class="text-input-container complete">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/password.png">
        </span>        
    </span>
                        <input class="form-control complete" placeholder="Password" type="password"
                               value="Anatolii Safronov">

                        <div class="checkbox-container">
                            <input checked="checked" class="checkbox-input" id="remember-appUser" name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser"></label>
                        </div>


                    </div>
                    <div class="text-input-container wrong">
    <span class="text-input-icon">
        <span>
            <img alt="" src="/static/img/icons/password.png">
        </span>        
    </span>
                        <input class="form-control wrong" placeholder="Confirm password" type="password"
                               value="Anatolii Safronov">


                        <div class="checkbox-container">
                            <input checked="checked" class="checkbox-input" id="remember-appUser" name="remember-appUser"
                                   type="checkbox">
                            <label class="checkbox-overlay" for="remember-appUser"></label>
                        </div>

                    </div>

                    <div class="button-container">
                        <button class="btn btn-dark">Create account</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</main>
</body>
</html>