<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Tasks archive</title>
</head>

<body>
<!--The modal window-->
<div class="modal">
    <span class="modal-close"></span>
    <h3 class="modal-title">You definitely want to delete?</h3>
    <p class="modal-subtitle">This action cannot be undone!</p>
    <div class="modal-action-btns-container">
        <a class="modal-btn modal-btn--light" href="">Go Back</a>
        <a class="modal-btn modal-btn--dark" href="">Delete</a>
    </div>
</div>
<div class="overlay"></div>
<!--The modal window's end-->

<header class="main-header">
    <a class="main-header-logo" href="tasks-dashboard.html"><img alt="IBA Tech Academy"
                                                                 src="/static/img/iba-tech-logo-white.svg"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input class="main-header-search" placeholder="Search" type="search">
            <img alt="Search Icon" src="/static/img/search-icon.svg">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>
            <img alt="User Icon" class="main-header-appUser-icon" src="/static/img/appUser-icon-with-background.svg">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link" href="./tasks-archive.html"><img
                            alt="User Icon" class="hidden-accordion-item-image" src="/static/img/archive-icon.svg">Archive</a>
                    </li>
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link"
                                                         href="./tasks-dashboard.html"><img
                            alt="Favourite Icon" class="hidden-accordion-item-image"
                            src="/static/img/favourite-icon.svg">My tasks</a></li>
                    <li class="hidden-accordion-item"><a class="hidden-accordion-item-link" href="./login.html"><img
                            alt="Log Out Icon" class="hidden-accordion-item-image" src="/static/img/log-out-icon.svg">Log
                        Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="tasks">
    <div class="container">
        <div class="tasks-caption">
            <h2 class="tasks-caption-title">Archive</h2>
            <div class="tasks-caption-actions">
                <form action="" class="tasks-filter" id="sort-tasks">
                    <label class="tasks-filter-label" for="task-type">Sort by</label>
                    <select class="tasks-filter-list" id="" name="task-type">
                        <option class="tasks-filter-item" value="deleted">Deleted</option>
                        <option class="tasks-filter-item" value="overdue">Overdue</option>
                        <option class="tasks-filter-item" value="today">Today</option>
                        <option class="tasks-filter-item" value="done">Done</option>
                    </select>
                </form>
                <a class="btn btn-dark btn-add-task" href="add-task.html">Add task</a>
            </div>
        </div>

        <div class="tasks-list">
            <div class="task">
                <h4 class="task-title">Task 001</h4>
                <p class="task-start-time">21.06.2020</p>
                <p class="task-deadline">Deadline to: <span class="task-deadline-date">30.06.2020</span></p>
                <p class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                <div class="task-icons">
                    <img alt="bell" class="task-icons-item" src="/static/img/bell.png">
                    <img alt="bell" class="task-icons-item" src="/static/img/trash-bin.png">
                </div>
                <a class="task-btn" href="#">Complete</a>
            </div>
            <div class="task">
                <h4 class="task-title">Task 002</h4>
                <p class="task-start-time">21.06.2020</p>
                <p class="task-deadline">Deadline to: <span class="task-deadline-date">30.06.2020</span></p>
                <p class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                <div class="task-icons">
                    <img alt="bell" class="task-icons-item" src="/static/img/bell.png">
                    <img alt="bell" class="task-icons-item" src="/static/img/trash-bin.png">
                </div>
                <a class="task-btn" href="#">Complete</a>
            </div>
            <div class="task">
                <h4 class="task-title">Task 003</h4>
                <p class="task-start-time">21.06.2020</p>
                <p class="task-deadline">Deadline to: <span class="task-deadline-date">30.06.2020</span></p>
                <p class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                <div class="task-icons">
                    <img alt="bell" class="task-icons-item" src="/static/img/bell.png">
                    <img alt="bell" class="task-icons-item" src="/static/img/trash-bin.png">
                </div>
                <a class="task-btn" href="#">Complete</a>
            </div>
            <div class="task">
                <h4 class="task-title">Task 004</h4>
                <p class="task-start-time">21.06.2020</p>
                <p class="task-deadline">Deadline to: <span class="task-deadline-date">30.06.2020</span></p>
                <p class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                <div class="task-icons">
                    <img alt="bell" class="task-icons-item" src="/static/img/bell.png">
                    <img alt="bell" class="task-icons-item" src="/static/img/trash-bin.png">
                </div>
                <a class="task-btn" href="#">Complete</a>
            </div>
            <div class="task">
                <h4 class="task-title">Task 005</h4>
                <p class="task-start-time">21.06.2020</p>
                <p class="task-deadline">Deadline to: <span class="task-deadline-date">30.06.2020</span></p>
                <p class="task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                <div class="task-icons">
                    <img alt="bell" class="task-icons-item" src="/static/img/bell.png">
                    <img alt="bell" class="task-icons-item" src="/static/img/trash-bin.png">
                </div>
                <a class="task-btn" href="#">Complete</a>
            </div>
        </div>

        <div class="task-card-section">
            <h3 class="task-card-title">Task 002</h3>
            <div class="task-card">
                <div class="task-card-left-col">
                    <div class="task-card-img _1"></div>
                    <div class="task-card-form">
                        <div class="task-card-form-row">
                            <label class="task-card-label" for="task-card-date">Deadline to:</label>
                            <input class="task-card-input" name="task-card-date" type="date" value="2020-06-30">
                        </div>
                        <div class="task-card-form-row">
                            <label class="task-card-label" for="name-task">Name Task</label>
                            <input class="task-card-input" name="name-task" placeholder="Task 002" type="text">
                        </div>
                    </div>
                    <div class="task-card-actions">
                        <a class="task-card-actions-item" href="#">
                            <img alt="" class="task-card-actions-icon" src="/static/img/arrow.png">
                            Share
                        </a>
                        <a class="task-card-actions-item" href="#">
                            <img alt="" class="task-card-actions-icon" src="/static/img/bell.png">
                            Add to important
                        </a>
                        <a class="task-card-actions-item" href="#">
                            <img alt="" class="task-card-actions-icon" src="/static/img/trash-bin.png">
                            Delete
                        </a>
                    </div>
                </div>
                <div class="task-card-right-col">
                    <h4 class="task-card-header">Task Description</h4>
                    <p class="task-card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <a class="btn btn-dark btn-task-card" href="#">Save</a>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="./js/scripts.js"></script>
</body>
</html>